<template>
<Page>
  <ActionBar title="Detail"/>
  <StackLayout>
    <Label :text="message"/>
    <Button @tap="$router.clear.go('drawer')" text="Go To Drawer"/>
  </StackLayout>
</Page>
</template>

<script>
export default {

  props: {
    message: {
      type: String,
      default: ''
    }
  }

}
</script>
