<template>
<Page>
  <ActionBar title="Master" />
  <StackLayout>
    <Button @tap="$router.go('detail', {
      message: 'Welcome to the detail page.'
    })" text="To Details directly"/>
  </StackLayout>
</Page>
</template>

<script>
export default {


}
</script>
